@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");
.overlay.strive {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/default.png) no-repeat;
  position: relative;
  top: -10px;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 15px;
  font-size: 2rem;
}

.player-right-container {
  left: 1223px;
  width: 510px;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.player-left-container {
  left: 180px;
  width: 510px;
  align-items: center;
  justify-content: center;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  text-align: center;
  text-shadow: 6px 1px rgb(0, 0, 0);
}
.player-left-container .player-left-score {
  position: absolute;
  right: -65px;
}

.player-right-container .player-right-score {
  position: absolute;
  left: -58px;
}

.player-left-container .player-left-score,
.player-right-container .player-right-score,
.rounds-container {
  font-size: 32px;
  top: 4px;
  text-shadow: 1px 4px 1px rgba(0, 0, 0, 1);
}

.rounds-container {
  top: 18px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.country {
  width: 40px;
  object-fit: cover;
  height: auto;
}

.player-right-country {
  position: absolute;
  top: 0px;
  right: 0;
}

.player-right-name {
  position: absolute;
  top: 5px;
}
