@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.overlay.twoxko {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: url("../img/2xko-overlay.png") no-repeat;
  color: #000;
}

.overlay-container {
  overflow: hidden;
  position: relative;
  height: 1440px;
  width: 2560px;
}

.overlay-container .player-container .country {
  width: 40px;
  height: auto;
  object-fit: cover;
  position: absolute;
}

.player-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 20px;
  justify-content: center;
  align-items: center;
}

.rounds {
  left: 50%;
  transform: translateX(-50%);
  top: 14px;
  font-size: 2rem;
  color: #fff;
}

.player-left .p1-name,
.player-right .p2-name,
#p2_container.player-container.player-left .p2-name,
#p1_container.player-container.player-right .p1-name {
  font-size: 22px;
}

.p1-name.long,
.p2-name.long,
#p1_container.player-container.player-right .p1-name.long,
#p2_container.player-container.player-left .p2-name.long {
  font-size: 20px;
}

.p1-name.very-long,
.p2-name.very-long,
#p1_container.player-container.player-right .p1-name.very-long,
#p2_container.player-container.player-left .p2-name.very-long {
  font-size: 20px;
}

.player-left {
  left: 600px;
  width: 470px;
}

.player-right {
  right: 600px;
  width: 470px;
}

.player-left .p1,
.player-right .p1,
.player-right .p2,
.player-left .p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-left .p1-score,
.player-right .p2-score,
.player-left .p2-score,
.player-right .p1-score {
  font-size: 2rem;
  position: absolute;
  color: #fff;
}

.player-left .p1-score,
.player-right .p2-score {
  top: -6px;
  width: 30px;
  text-align: center;
}

.player-left .p1-score {
  left: 21px;
}
.player-right .p2-score {
  right: 22px;
}

.player-left .p1-name,
.player-right .p2-name {
  position: absolute;
  width: 350px;
  text-align: center;
}

.player-left .p1-name,
.player-right .p2-name {
  top: calc(22px - 20px);
}

.player-left .p1-name {
  left: 60px;
}

.player-left .country {
  top: -5px;
  left: 423px;
}

.player-right .country {
  top: -5px;
  right: 421px;
}

/** Swapped **/

#p1_container.player-container.player-right,
#p2_container.player-container.player-left {
  flex-direction: row-reverse;
}

#p1_container.player-container.player-right .p1-score {
  right: 26px;
  top: -5px;
}

#p2_container.player-container.player-left .p2-score {
  left: 22px;
  top: -5px;
}
