@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
.overlay.tekken {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/t8-overlay.png) no-repeat;
  position: relative;
  color: #fff;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 6px 1px rgba(165, 42, 42,0.5);
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 0;
  font-size: 2rem;
}

.player-right-container {
  right: 180px;
  width: 500px;
}

.player-left-container {
  left: 180px;
  width: 500px;
}

.player-left-container,
.player-right-container {
  align-items: center;
  justify-content: center;
  height: 60px;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  text-align: center;
}
.player-left-container .player-left-score,
.player-right-container .player-right-score,
.player-left-container .player-left-name {
  position: absolute;
}

.player-left-container .player-left-score {
  right: -15px;
  top: 10px;
}

.player-right-container .player-right-score {
  left: -15px;
   top: 5px;
}

.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 2.5rem;
  
}

.rounds-container {
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.country {
  width: 40px;
  object-fit: cover;
  height: auto;
}

.player-right-country,
.player-right-name {
  position: absolute;
}

.player-right-country {
  right: 0;
}

.player-left-name {
  top: 5px;
}

.player-right-name,
.player-left-name {
  height: 60px;
  align-content: center;
  
}
