@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.overlay.samsho-2019 {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/samsho-overlay.png) no-repeat;
  position: relative;
}



.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 2.5rem;
  color: #fff;
  top: 0px;
  text-shadow: 1px 4px 1px rgb(0, 0, 0);

}

.overlay-container {
  overflow: hidden;
  position: relative;
  height: 1080px;
  width: 1920px;
}

.overlay-container .player-container .country {
  width: 62px;
  height: auto;
  object-fit: cover;
}

.player-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: -12px;
  justify-content: center;
  align-items: center;
  text-shadow: 6px 1px #000;
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rounds {
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
  font-size: 3rem;
  color: #000;
  text-shadow: 1px 2px 0px rgb(255, 255, 255);
}

.player-left .p1-name,
.player-right .p2-name,
#p2_container.player-container.player-left .p2-name,
#p1_container.player-container.player-right .p1-name {
  font-size: 26px;

}

.p1-name.long,
.p2-name.long,
#p1_container.player-container.player-right .p1-name.long,
#p2_container.player-container.player-left .p2-name.long {
  font-size: 24px;
}

.p1-name.very-long,
.p2-name.very-long,
#p1_container.player-container.player-right .p1-name.very-long,
#p2_container.player-container.player-left .p2-name.very-long {
  font-size: 22px;
}

.player-left {
  width: 670px;

}

.player-right {
  width: 670px;
}

.player-left {
  left: 36px;
}
.player-right {
  right: 36px;
}

.player-left .p1,
.player-right .p1,
.player-right .p2,
.player-left .p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.player-left .p1-score,
.player-right .p2-score,
.player-left .p2-score,
.player-right .p1-score {
  font-size: 2rem;
  position: absolute;
}

.player-left .p1-score,
.player-right .p1-score,
.player-right .p2-score,
.player-left .p2-score {
  top: 7px;
  font-size: 35px;
  color: #fff;
  text-shadow: 1px 3px 3px #000;
}

.player-left .p1-score,
.player-right .p1-score {
  right: -70px;
}

.player-right .p2-score,
.player-left .p2-score {
  left: -70px;
}

.player-left .p1-name,
.player-right .p2-name,
.player-left .p2-name,
.player-right .p1-name {
  width: 100%;
  min-width: 215px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 3px 3px #000;
}

/** Swapped **/

#p1_container.player-container.player-right,
#p2_container.player-container.player-left {
  flex-direction: row-reverse;
}

#p1_container.player-container.player-right .p1-score {
  right: 716px;
}

#p2_container.player-container.player-left .p2-score {
  left: 716px;
}