@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
.overlay.kofxiii {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/KOF13-overlay.png) no-repeat;
  position: relative;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 25px;
  font-size: 2rem;
}

.player-right-container {
  left: 1088px;
  width: 560px;
}

.player-left-container {
  left: 270px;
  width: 560px;
}

.player-left-container,
.player-right-container {
  align-items: center;
  justify-content: center;
  height: 60px;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 6px 1px #000;
}
.player-left-container .player-left-score,
.player-right-container .player-right-score,
.player-left-container .player-left-name {
  position: absolute;
}

.player-left-container .player-left-score {
  right: -15px;
}

.player-right-container .player-right-score {
  left: -15px;
  top: -10px;
}

.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 3rem;
  color: #fff;
  top: 0;
  text-shadow: 1px 4px 1px rgb(0, 0, 0);
}

.rounds-container {
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  color: #000;
  text-shadow: 3px 8px 3px rgb(138, 138, 138);
}

.country {
  width: 40px;
  object-fit: cover;
  height: auto;
}

.player-right-country,
.player-right-name {
  position: absolute;
}

.player-right-country {
  right: 0;
}

.player-right-name,
.player-left-name {
  height: 60px;
  align-content: center;
  top: 2px;
}
