@font-face {
  font-family: "citybrawlersboldcaps";
  src: url("./fonts/citybrawlersboldcaps-webfont.woff2") format("woff2"),
    url("./fonts/citybrawlersboldcaps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.overlay.sf {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/sf6-overlay.png) no-repeat;
  position: relative;
  font-family: "citybrawlersboldcaps";
  color: #fff;
  text-shadow: #000 3px 0 3px;
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 2.5px;
  font-size: 3rem;
}

.player-right-container {
  left: 1204px;
  width: 450px;
  height: 40px;
}

.player-left-container {
  left: 250px;
  width: 450px;
}

.player-left-container,
.player-right-container {
  align-items: center;
  justify-content: center;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  text-align: center;
  text-shadow: 6px 1px rgb(0, 0, 0);
}
.player-left-container .player-left-score,
.player-right-container .player-right-score,
.player-left-container .player-left-name {
  position: absolute;
}

.player-left-container .player-left-score {
  right: -34px;
  transform: skew(-25deg);
}

.player-right-container .player-right-score {
  left: -20px;
  transform: skew(25deg);
}

.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 3rem;
  top: 0;
  text-shadow: 1px 4px 1px rgba(0, 0, 0, 1);
}

.rounds-container {
  top: -8px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.country {
  width: 40px;
  object-fit: cover;
  height: auto;
}

.player-right-country,
.player-right-name {
  position: absolute;
}

.player-right-country {
  right: 0;
}

.player-right-name {
  top: 0;
}
