@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
.overlay.tekken {
  width: 2560px;
  height: 1440px;
  background: transparent url(../img/t8-overlay.png) no-repeat;
  position: relative;
  color: #000;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 0;
}

.player-right-container {
  right: 180px;
  width: 500px;
}

.player-left-container {
  left: 180px;
  width: 500px;
}

.player-left-container,
.player-right-container {
  align-items: center;
  justify-content: center;
  height: 60px;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  text-align: center;
}
.player-left-container .player-left-score,
.player-right-container .player-right-score,
.player-left-container .player-left-name {
  position: absolute;
}

.player-left-container .player-left-score {
  right: 348px;
  top: 42px;
}

.player-right-container .player-right-score {
  left: 341px;
  top: 44px;
}

.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 1.5rem;
}

.rounds-container {
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.country {
  width: 80px;
  object-fit: contain;
  height: auto;
}

.player-right-country,
.player-right-name {
  position: absolute;
}

.player-right-country,
.player-left-country {
  width: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.player-right-name {
  right: 190px;
  top: 28px;
}

.player-right-country {
  right: 685px;
  transform: skewX(-22deg);
  height: 48px;
  top: 36px;
}

.player-left-country {
  position: absolute;
  left: 679px;
  top: 33px;
  height: 51px;
  transform: skewX(22deg);
}

.player-left-country .country {
  transform: skew(-22deg);
}

.player-right-country .country {
  transform: skew(22deg);
}

.player-left-name {
  top: 28px;
  left: 190px;
}

.player-right-name,
.player-left-name {
  color: #fff;
  height: 60px;
  align-content: center;
}
