@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.overlay.strive {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/strive-overlay.png) no-repeat;
  position: relative;
  color: #fff;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.overlay-container {
  overflow: hidden;
  position: relative;
  height: 1080px;
  width: 1920px;
}

.overlay-container .player-container .country {
  width: 62px;
  height: auto;
  object-fit: cover;
}

.player-container,
.rounds-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.player-container {
  top: 18px;
}

.rounds {
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 3px 3px #000;
}

.player-left .p1-name,
.player-right .p2-name,
#p2_container.player-container.player-left .p2-name,
#p1_container.player-container.player-right .p1-name {
  font-size: 26px;
}

.p1-name.long,
.p2-name.long,
#p1_container.player-container.player-right .p1-name.long,
#p2_container.player-container.player-left .p2-name.long {
  font-size: 24px;
}

.p1-name.very-long,
.p2-name.very-long,
#p1_container.player-container.player-right .p1-name.very-long,
#p2_container.player-container.player-left .p2-name.very-long {
  font-size: 22px;
  top: 18px !important;
}

.player-left {
  width: 600px;
}

.player-right {
  width: 600px;
}

.player-left {
  left: 142px;
}

.player-right {
  right: 142px;
}

.player-left .p1,
.player-right .p1,
.player-right .p2,
.player-left .p2 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.player-left .p1-score,
.player-right .p2-score,
.player-left .p2-score,
.player-right .p1-score {
  font-size: 2rem;
  position: absolute;
  text-shadow: 1px 3px 3px #000;
  top: 10px;
}

.player-left .p1-score,
.player-right .p1-score {
  right: -22px;
}

.player-right .p2-score,
.player-left .p2-score {
  left: -20px;
}

.player-left .p1-name,
.player-right .p2-name,
.player-left .p2-name,
.player-right .p1-name {
  min-width: 252px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 3px 3px #000;
  position: relative;
  top: 15px;
}

/** Swapped **/

#p1_container.player-container.player-right,
#p2_container.player-container.player-left {
  flex-direction: row-reverse;
}

#p1_container.player-container.player-right .p1-score {
  left: -15px;

}

#p2_container.player-container.player-left .p2-score {
  left: 595px;
}