@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap");
.overlay.twoxko {
  width: 1920px;
  height: 1080px;
  background: transparent url(../img/2xko-overlay.png) no-repeat;
  position: relative;
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.overlay-container {
  width: 100%;
}

.overlay-container,
.player-left-container,
.player-right-container,
.rounds-container {
  display: flex;
  position: absolute;
  top: 15px;
  font-size: 2rem;
}

.player-right-container {
  left: 1193px;
  width: 280px;
  height: 40px;
}

.player-left-container {
  left: 450px;
  width: 270px;
}

.player-left-container,
.player-right-container {
  align-items: center;
  justify-content: center;
}

.player-left-container .player-left-name,
.player-right-container .player-right-name {
  width: 100%;
  text-align: center;
  text-shadow: 6px 1px rgb(0, 0, 0);
}
.player-left-container .player-left-score,
.player-right-container .player-right-score,
.player-left-container .player-left-name {
  position: absolute;
}

.player-left-container .player-left-name {
  top: 0;
}

.player-left-container .player-left-score {
  right: -57px;
}

.player-right-container .player-right-score {
  left: -48px;
}

.player-left-container .player-left-score,
.player-right-container .player-right-score {
  font-size: 32px;
  top: -9px;
  text-shadow: 1px 4px 1px rgba(0, 0, 0, 1);
}

.rounds-container {
  top: 0;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.country {
  width: 40px;
  object-fit: cover;
  height: auto;
}

.player-right-country,
.player-right-name {
  position: absolute;
}

.player-right-country {
  right: 0;
}

.player-right-name {
  top: 0px;
}
